<div class="row row-banner">
    <div class="col-md-12">
        <h1>Заказать печать на воздушных шарах можно на нашем сайте</h1>
        <p>Воздушные шары с логотипом используются во время проведения презентаций новой продукции, открытия торговых центров и детских кафе. Стоит такая реклама недорого, но отличается эффективностью, помогает привлечь потенциальных клиентов, рассказать о вашей компании всем прохожим.</p>
        <p>Часто людей раздражают торговые агенты, которые раздают листовки, предлагают что-то купить, но шарик &mdash; это совершенно другое дело. Воздушные шары вызывают положительные эмоции, дарят радость и счастье, напоминают о детских беззаботных годах. Никто не откажется получить в подарок шарик с логотипом, особенно рады такому презенту прохожие с маленькими детьми. Печать на воздушных шарах превратит обычный шар в мощный инструмент маркетинга.</p>
        <p>Заказ шаров с логотипом на нашем сайте займет у вас считанные минуты. Заказы мы обрабатываем оперативно, прислушиваемся ко всем пожеланиям клиентов и гарантируем качественное нанесение логотипа на шары за минимальное время.</p>
        <p>Цена воздушных шаров с логотипом зависит от выбранной надписи, а также тиража. Рассчитать ее помогут специалисты нашей мастерской в Екатеринбурге. Заказывайте шары с печатью логотипа прямо сейчас!</p>
    </div>
    <div class="col-md-12">
        <h4>Заказать нанесения вашего логотипа на шары вы можете:</h4>
        <div>
            *по телефону +7(343)3281-567&nbsp;<br />
            *направив запрос на&nbsp;<a href="mailto:priemka@list.ru">priemka@list.ru</a><br />
            &nbsp;
        </div>

        <p>Обратите внимание! Данная услуга выполняется за 3-5 дней и только под заказ!</p>
        <br />
        <table class="table table-bordered table-hover table-condensed" style="margin: 0 auto; width: 666px; vertical-align: top;">
            <thead>
                <tr>
                    <th colspan="5" style="height: 24px; width: 626px; text-align: center">
                        <strong>Печать на воздушных шарах</strong>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" style="vertical-align: top; text-align: center">
                        <strong>Тираж</strong>
                    </th>
                    <th colspan="2" style="vertical-align: top; text-align: center">
                        <strong>Цена за <span class="underline">оттиск</span> без стоимости шаров и предпечатной подготовки</strong>
                    </th>
                    <th colspan="2" style="vertical-align: top; text-align: center">
                        <strong>Цена за <span class="underline">тираж</span> с учетом предпечатной подготовки и стоимости шаров (пастель Мексика)</strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <p>
                            <strong>1+0</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>1+1 (2+0)</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>1+0</strong>
                        </p>
                    </th>
                    <th>
                        <p>
                            <strong>1+1 (2+0)</strong>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><strong>50</strong></p>
                    </td>
                    <td>
                        <p>10</p>
                    </td>
                    <td>
                        <p>16</p>
                    </td>
                    <td>
                        <p>1325</p>
                    </td>
                    <td>
                        <p>2125</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>100</strong></p>
                    </td>
                    <td>
                        <p>6,5</p>
                    </td>
                    <td>
                        <p>10,2</p>
                    </td>
                    <td>
                        <p>1700</p>
                    </td>
                    <td>
                        <p>2370</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>200</strong></p>
                    </td>
                    <td>
                        <p>6,2</p>
                    </td>
                    <td>
                        <p>9,5</p>
                    </td>
                    <td>
                        <p>2740</p>
                    </td>
                    <td>
                        <p>3700</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>300</strong></p>
                    </td>
                    <td>
                        <p>5,2</p>
                    </td>
                    <td>
                        <p>8</p>
                    </td>
                    <td>
                        <p>3510</p>
                    </td>
                    <td>
                        <p>4650</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>400</strong></p>
                    </td>
                    <td>
                        <p>4,2</p>
                    </td>
                    <td>
                        <p>6,5</p>
                    </td>
                    <td>
                        <p>4080</p>
                    </td>
                    <td>
                        <p>5300</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>500</strong></p>
                    </td>
                    <td>
                        <p>3,2</p>
                    </td>
                    <td>
                        <p>5,5</p>
                    </td>
                    <td>
                        <p>4450</p>
                    </td>
                    <td>
                        <p>5900</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>1000</strong></p>
                    </td>
                    <td>
                        <p>2,2</p>
                    </td>
                    <td>
                        <p>4,6</p>
                    </td>
                    <td>
                        <p>7300</p>
                    </td>
                    <td>
                        <p>10000</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>2000</strong></p>
                    </td>
                    <td>
                        <p>2</p>
                    </td>
                    <td>
                        <p>4,4</p>
                    </td>
                    <td>
                        <p>13600</p>
                    </td>
                    <td>
                        <p>18700</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>3000</strong></p>
                    </td>
                    <td>
                        <p>1,8</p>
                    </td>
                    <td>
                        <p>4,2</p>
                    </td>
                    <td>
                        <p>18900</p>
                    </td>
                    <td>
                        <p>27000</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>5000</strong></p>
                    </td>
                    <td>
                        <p>1,6</p>
                    </td>
                    <td>
                        <p>3,8</p>
                    </td>
                    <td>
                        <p>31100</p>
                    </td>
                    <td>
                        <p>42400</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>10000</strong></p>
                    </td>
                    <td>
                        <p>1,5</p>
                    </td>
                    <td>
                        <p>2,2</p>
                    </td>
                    <td>
                        <p>60600</p>
                    </td>
                    <td>
                        <p>67900</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <h4>Формула расчета стоимости тиража:</h4>

        <div>Стоимость = (цена за оттиск по таблице + стоимость шарика)*тираж + предпечатная подготовка.</div>

        <h4>Цена шаров:</h4>
        <h5>Мексика</h5>
        <ul>
            <li>12 дюйм пастель, декоратор &ndash; 4,5 руб./шт.</li>
            <li>12 дюйм металлик &ndash; 6 руб./шт.</li>
        </ul>
        <h5>Колумбия</h5>
        <ul>
            <li>12 дюйм пастель, декоратор &ndash; 6 руб./шт.</li>
            <li>12 дюйм металлик &ndash; 6,5 руб./шт.</li>
        </ul>
        <h4>Дополнительная информация и требования:</h4>

        <ul>
            <li>Максимальный размер логотипа - 120/120 мм.</li>
            <li>Логотипы предоставляются в формате - CorelDraw.</li>
            <li>Разработка или доработка логотипа - от 500 руб.</li>
            <li>Среднее время изготовления тиража - 2-3 дня.</li>
            <li>Минимальная толщина линий в логотипе - 1 мм.</li>
            <li>Минимальное расстояние между цветами при двухцветной печати &ndash; 3 мм.</li>
            <li>Предпечатная подготовка – 600 руб. за 1-ый цвет печати и сторону и 300 руб. за каждый последующий цвет печати и сторон</li>
        </ul>

        <h4>Цена за надув шаров при количестве до 500 шт.:</h4>

        <ul>
            <li>Воздухом на палочке &ndash; 10 руб за шт.</li>
            <li>Гелием на ленточке &ndash; 20 руб. за шт.</li>
        </ul>

        <h4>Цена за надув шаров при количестве более 500 шт.:</h4>

        <ul>
            <li>Воздухом на палочке &ndash; 7 за шт.</li>
            <li>Гелием на ленточке &ndash; 18 руб. за шт.</li>
            <li>Обработка шаров Hi-Float 2 руб. за шт. при любом количестве.</li>
        </ul>

        <h4>Доставка тиража:</h4>

        <ul>
            <li>По городу до офиса &ndash; 300 руб.</li>
            <li>До транспортной компании с оформлением отправки &ndash; 600 руб.</li>
        </ul>
        <table class="table table-bordered table-hover table-condensed" style="margin: 0 auto; width: 666px; vertical-align: top;">
            <thead>
                <tr>
                    <th colspan="2" style="height: 24px; width: 626px; text-align: center">
                        <strong>Нанесение логотипа на большие шары (36 дюймов). Олимпийский шар.</strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        Цветность 1+0
                    </th>
                    <th>
                        Цветность 2+0, 1+1.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1шт. = 2000 Р. </td><td>1шт. = 3200 Р. </td></tr>
                <tr><td>2шт. = 2600 Р. </td><td>2шт. = 4200 Р. </td></tr>
                <tr><td>3шт. = 2850 Р. </td><td>3шт. = 4650 Р. </td></tr>
                <tr><td>4шт. = 3000 Р. </td><td>4шт. = 4800 Р. </td></tr>
                <tr><td>5шт. = 3250 Р. </td><td>5шт. = 5250 Р. </td></tr>
                <tr><td>10шт. = 4500 Р. </td><td>10шт. = 7500 Р. </td></tr>
                <tr><td>20шт. = 7000 Р. </td><td>20шт. = 10000 Р.</td></tr>
                <tr><td>50шт. = 15000 Р.</td><td>50шт. = 25000 Р.</td></tr>
            </tbody>
        </table>
        <br />
    </div>
    <div class="col-md-12">
        <p>
            Среди самых популярных маркетинговых ходов известных компаний являются шарики с логотипом. С их помощью можно быстро привлечь клиентов, заинтересовать покупателей, предложить интересные акции. Шарики с надписями могут стать необычным подарком на день рождения или другой праздник. Ваши друзья или близкие по достоинству оценят такой веселый презент и долго будут с улыбкой вспоминать о празднике.
        </p>
        <p>
            На сайте нашей компании можно заказать печать логотипа вашей компании по доступной цене.
        </p>
        <p>
            Рекламная печать на воздушных шарах — одно из главных направлений нашей работы, поэтому мы готовы гарантировать ее качество и выполнить за минимальное время. Мы предлагаем широкий выбор шаров разных цветов и размеров и поможем выбрать оптимальные варианты для каждого покупателя. Продукцию с логотипом мы с радостью доставим по адресу вашей компании в Екатеринбурге. Уточнить детали заказа и сроки доставки можно в телефонном разговоре с нашими менеджерами.
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4 class="text-center">Примеры наших работ:</h4>
        <div class="images-grid">
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/2.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/3.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/4.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/5.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/6.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/10.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/11.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/12.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/14.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/15.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/17.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/18.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/19.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/20.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/24.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/25.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/26.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/27.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/28.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/30.png")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/printedBalloons/31.png")" alt="" /></div>
        </div>
    </div>
</div>
