@model TypeSvet
@using SharikiApp.Models
@{
    Layout = null;
    var active = "";
}
<ul class="nav nav-tabs" role="tablist">
    @{ active = Model == TypeSvet.Bant ? "active" : ""; }
    <li role="presentation" class="@active">
        <a href="@Url.Action("Auto")">Бант на автомобиль</a>
    </li>
    @{ active = Model == TypeSvet.Svet ? "active" : ""; }
    <li role="presentation" class="@active">
        <a href="@Url.Action("Svet")">Cветовое оформление</a>
    </li>
    @{ active = Model == TypeSvet.NewYearDecor ? "active" : ""; }
    <li role="presentation" class="@active">
        <a href="@Url.Action("NewYear")">Новогодний декор</a>
    </li>
</ul>
