@using SharikiApp.Models
@model SharikiApp.Models.BalloonsModel
<div role="tabpanel">
    @Html.Partial("Navs/BalloonsNav", TypeBallons.Decorate)
    <div role="tabpanel" class="tab-pane active" id="shariki">
        <div class="row row-banner">
            <div class="col-md-3">
                <div class="types-menu">
                    <ul class="list-unstyled balloon-type-menu">
                        <li>
                            @{
                                var css = Model.SelectedBalloonType == null ? "item selected" : "item";
                            }
                            <a class="@css" href="/oformlenie_sharami">
                                Все
                            </a>
                        </li>
                        @foreach (var balloonType in Model.BalloonTypes)
                        {
                            <li>
                                @if (Model.SelectedBalloonType != null && balloonType.BalloonTypeId == Model.SelectedBalloonType.BalloonTypeId)
                                {
                                    <a class="item selected" href="@Url.Action("Decorate", "Home", new {type = (BalloonTypeM) balloonType.BalloonTypeId})">
                                        @balloonType.Name
                                    </a>
                                }
                                else
                                {
                                    <a class="item" href="@Url.Action("Decorate", "Home", new {type = (BalloonTypeM) balloonType.BalloonTypeId})">
                                        @balloonType.Name
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @Html.Partial("_Goods", Model.Balloons)
        </div>
        @{
            Html.RenderPartial("BalloonsInfo", Model.SelectedBalloonTypeM);
        }
        @Html.Partial("Decorate/_Main")
    </div>
</div>
