@{
    Layout = null;
}
<div class="row row-banner">
    <div class="col-md-12">
        <h2>
            Спецэффекты с применением воздушных шаров!<br />
            <small>Наверное самое захватывающеее из мира шаров..</small>
        </h2>
        <h3>Сброс воздушных шаров</h3>
        <p>
            Особый эффект в эстрадном шоу, концерте или на дискотеке, проходящих в помещении можно получить за счет сброса шаров в самый кульминационный момент представления. <br />
            Зрелище падающих сверху шаров неизменно приводит зрителей в восторг. Для рекламной акции, можно нанести логотип на воздушные шары, для сброса. <br />
            Представьте себе, как, на Вас с потолка падает несколько тысяч шаров. <br />
            Это очень красивое зрелище.
        </p>

        <h3>Запуск воздушных шаров</h3>
        <p>
            Запуск шаров, одно из самых эффектных шоу с воздушными шарами, производят только на улице. <br />
            Чем больше шаров, тем красивее зрелище. Стадионы, большие площади, фестивали на открытом воздухе, открытие торговых центров и начало концерта все это отличный повод устроить запуск шаров. <br />
            Шары надувают гелием, и запускаются из специальных сеток различных форм и размеров. Запуск шаров сложно производить в дождь или сильный ветер. <br />
            Наилучший эффект получают при запуске от 2000 шаров.
        </p>

        <h3>Взрыв шара (шар сюрприз)</h3>
        <p>
            Взрыв шаров или, как его еще называют шар сюрприз, применяют в помещениях с низким потолком, когда сброс шаров невозможен. <br />
            Или когда шары должны упасть или взлететь неожиданно, во время мероприятия. <br />
            В этом случае большой шар размером от 90 см. до 2.5 м. набивают маленькими 10 см. шариками. <br />
            Чаще всего взрыв заказывают школы на 1 сентября или последний звонок и свадьбы на первый танец. <br />
            Так же взрывы используют во время проведения различных розыгрышей, в этом случае в меленькие шарики запаковывают записки, а люди после взрыва большого шара лопают, маленькие шарики и ищут записки.
        </p>

        <h3>Каждый спецэффект рассчитывается индивидуально!</h3>
        <p>
            Если вас заинтересовала данная информация звоните <strong>+7(922)11-22-866</strong>, ответим на все ваши вопросы.
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4 class="text-center">Примеры работ:</h4>
        <div class="images-grid">
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (1).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (2).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (3).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (4).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (5).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (6).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (7).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (8).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (9).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (10).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (11).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (12).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (13).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (14).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (15).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (16).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/cpeceffets/1 (17).jpg")" alt="" /></div>
        </div>
    </div>
</div>