@{
    Layout = null;
}
<header>
    <div class="text-center" style="margin-bottom: -80px;">
        <a href="/">
            <img alt="logo" class="logo" src="~/Content/shapka_1140_kh.png" />
        </a>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_Social")
        </div>
        <div class="col-md-9">
            <div class="pull-right">
                <div style="display: inline-block;">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" name="searchText" placeholder="Поиск шариков">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Искать</button>
                            </span>
                        </div>
                    }
                </div>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin")
                {
                    @:&nbsp;
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="adminMenu" data-toggle="dropdown" aria-expanded="true">
                            админка
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="adminMenu" style="margin-top: -5px;">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("GetBaskets", "Basket")">Поиск заказа</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Balloons")">Товары</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "News")">Новости</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "BalloonType")">Типы товаров</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Warm", "Home")" target="blank">Сбросить кэш</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Articles")" target="blank">Статьи</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("LogOff", "Account")">Выйти</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>

