<div class="row row-banner">
    <div class="col-md-12">
        <h1>Новогоднее оформление фасада здания — бесподобная иллюминация!</h1>
        <p>Западная традиция украшать к Новому году фасады домов праздничной иллюминацией очень быстро прижилась в нашей стране благодаря тому, что подобное оформление невероятно красиво. Оно создает волшебное настроение, ожидание настоящего чуда.</p>
        <p>Новогоднее оформление фасада здания при помощи иллюминации — это простой и практичный способ создать ощущение праздника, преобразив свой дом соответствующим образом. Можно использовать обычные гирлянды, украсив ими окна дома изнутри, а также специальные уличные.</p>
        <p>Также вы можете создать совершенно неповторимый дизайн, использовав всевозможные украшения в виде разнообразных фигурок, символизирующих Новый год, нарядить деревья и кусты. Оригинально смотрятся всевозможные снежинки, вырезанные из тонкого пенопласта. Помните, что самостоятельное уличное украшение требует немалой осторожности, ведь подключение должно осуществляться таким образом, чтобы избегать попадания влаги на электросеть.</p>
        <p>Наша компания поможет вам создать незабываемые декорации при помощи светового оформления фасадов домов. Стоимость наших услуг является вполне приемлемой. Подарите себе настоящую сказку!</p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h3>
            Новогоднее световое оформление в Екатеринбурге
        </h3>
        <img src="@Url.Content("~/Content/decorate/newyear/IMG_2701.jpg")" alt="" class="pull-left" style="padding: 2px 15px;" />
        <p>
            Для многих Новый год – это главный праздник в году. Он заставляет верить в чудо и исполнение мечты, дарит ощущение присутствия сказки и волшебства. А создать новогоднее настроение помогает праздничное оформление.
            Предвкушение торжества дарят весело мерцающие гирлянды на фасадах, окнах, витринах, украшенные ели, приветливые фигуры Деда Мороза и Снегурочки в торговых центрах, супермаркетах и просто на улице.
            Атмосферу праздника поможет создать наша студия дизайна. Что мы только не оформляем к Новому году… И коттеджи, и центры, и торговые павильоны, и рестораны, и улицы, потому что праздник нужен всем! Он должен чувствоваться везде – дома, на работе, в магазине. Поэтому мы работаем во всех направлениях и предлагаем своим клиентам только современные, качественные решения, способные удивить и приятно порадовать. Даже самое серое и унылое пространство наши декораторы способны преобразить в достойное восхищения.
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4>Уличное оформление</h4>
        <p>
            <img src="@Url.Content("~/Content/decorate/newyear/1 (8).jpg")" alt="" class="pull-right" style="padding: 2px 15px;" />
            Для украшения улицы, фасадов зданий, витрин магазинов, деревьев применяем светодиодную светотехнику: световые шторы, занавесы, бахрому, сосульки, «снегопад», гирлянды, цепочки, гибкие плоские ленты, плоские и объемные фигуры и многое другое. Оборудование отличается высоким качеством, экономичностью и устойчивостью к воздействию внешних факторов, механическим повреждениям, а также радует яркостью и многообразием цветов и оттенков.
            Оформление осуществляется с учетом специфики здания. Если это административное сооружение, то применяется фоновая подсветка, заливающее освещение, лаконичные декорации в сдержанных тонах. Если это развлекательное заведение, то здесь преобладают яркая и красочная иллюминация, плоские и 3D-фигуры, световые декор и видеоряды.
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4>Световое оформление деревьев</h4>
        <p>
            <img src="@Url.Content("~/Content/decorate/newyear/1 (2)_1.jpg")" alt="" class="pull-right" style="padding: 2px 15px;" />
            Одним из самых ярких и впечатляющих способов светового оформления является художественно - декоративная подсветка деревьев.Для подсветки освещения деревьев или праздничного оформления новогодних елей можно использовать различную декоративную светотехнику и разнообразные гирлянды. Мы рады Вам предложить широкий спектр гирлянд разнообразного свечения для деревьев (белый, синий, зеленый, красный, желтый, розовый, светло- розовый, голубой, пурпурный, лиловый, оранжевый, аква, мульти). Так же имеется светодиодные гирляны разной степени защиты, что соответственно влияет на срок службы и стоимость. Гирлянды можно использовать как постоянно светящиеся, так и с использованием разных эффектов мерцания.Для подбора необходимого количества гирлянд для Ваших деревьев, можно прислать фотографии или же наш специалист приедет к Вам.
            Специалисты подскажут Вам, как использовать светодиодное оборудование с максимальной эффективностью!
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4>Новогоднее оформление загородного дома, коттеджа</h4>
        <p>
            <img src="@Url.Content("~/Content/decorate/newyear/1 (5).jpg")" alt="" class="pull-right" style="padding: 2px 15px;" />
            Украшение загородного дома заказывают, чтобы создать праздник себе, детям, родным, близким. Первое и самое главное, с чего мы начинаем, – внешнее оформление дома. Элементами светотехники украшаем стены, козырьки крыши, придомовую территорию. Зимой рано темнеет, поэтому светящийся дом выглядит волшебно.
        </p>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <p>
            <h3>Порядок работ</h3>
            <ul class="list-unstyled">
                <li>1) Проводится встреча менеджера проекта, дизайнера и представителя клиента, где обсуждаются пожелания заказчика. Определяются бюджет, сроки монтажа и демонтажа, а также вариант оформления, то есть в каком стиле оно будет — современный или классический, и что будет использоваться в качестве украшения — исключительно светодиодные гирлянды или также световые фигуры и т. д.</li>
                <li>2) Выезд дизайнера на объект, где он проводит фотосъемку.</li>
                <li>3) В течение 3-7 дней, в зависимости от сложности заказа, дизайнер создает макет проекта. Также составляется смета.</li>
                <li>4) Макет и смета отдаются на утверждение клиенту. В зависимости от его пожеланий проект корректируется, например, на макете меняется расположение световых элементов или добавляются новые и т. д.</li>
                <li>5) После утверждения макета заказчиком, согласовываются сроки монтажа. В назначенное время специалисты проводят монтажные работы согласно проекту, конечно же, соблюдая при этом правила электробезопасности и требования по электроподключению.</li>
                <li>6) При наступлении оговоренных сроков специалисты выезжают на объект, где проводят демонтаж световых украшений и передают их на склад клиенту.</li>
            </ul>
        </p>
        <p>
            Чтобы задать вопросы или заказать новогоднее оформление интерьера или фасада здания, позвоните нам по телефону + 7(343) 328-15-67 или напишите нам на <a href="mailto:priemka@list.ru">priemka@list.ru</a>
        </p>
    </div>
</div>
<div class="row row-banner">
    <div class="col-md-12">
        <h4 class="text-center">Примеры работ:</h4>
        <div class="images-grid">
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (1).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (1)_1.jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (2).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (2)_1.jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (3).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (4).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (5).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (6).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (7).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (8).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (9).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (10).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (11).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (12).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (13).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/1 (14).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (1).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (2).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (3).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (4).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (5).jpg")" alt="" /></div>
            <div class="item"><img src="@Url.Content("~/Content/decorate/newyear/2 (6).jpg")" alt="" /></div>
        </div>
    </div>
</div>